/*
 * Copyright 2007,2008 Sony Corporation
 */

body{
	top:0px;
	left:0px;
	margin: 0px;
	padding: 0px;
}

img {
	border: 0;
}

div#base {
	position:absolute;
	left:0px;
	top:0px;
	width: 264px;
	height: 312px;
	z-index: 1;
}

div#base_left {
	position:absolute;
	left:0px;
	top:0px;
	width: 18px;
	height: 312px;
	background-image: url(./img/mixi_widget_base_left.png);
	z-index: 2;
}
div#base_tsunagi {
	position:absolute;
	left:18px;
	top:0px;
	width: 222px;
	height: 312px;
	background-image: url(./img/mixi_widget_base_tsunagi.png);
	background-repeat: repeat-x;
	z-index: 2;
}
div#base_right {
	position:absolute;
	left:240px;
	top:0px;
	width: 24px;
	height: 312px;
	background-image: url(./img/mixi_widget_base_right.png);
	background-repeat: repeat-x;
	z-index: 2
}

div#logo {
	position:absolute;
	left:9px;
	top:12px;
	width: 150px;
	height: 57px;
	background-image: url(./img/mixi_logo.png);
	z-index: 2;
}
div#logo2 {
	position:absolute;
	left:180px;
	top:258px;
	width: 72px;
	height: 39px;
	background-image: url(./img/mixi_widget_right_buttom_co.png);
	z-index: 2;
}


div#ledZabuton {
	position:absolute;
	left:219px;
	top:6px;
	width: 20px;
	height: 30px;
	background-image: url(./img/LED_zabuton.png);
	z-index: 3
}

div#ledBase {
	position:absolute;
	left:223px;
	top:6px;
	width: 12px;
	height: 28px;
	background-image: url(./img/LED_set.png);
	z-index: 3
}

div#updatedTimeBase {
	position:absolute;
	left:136px;
	top:40px;
	width: 102px;
	height: 26px;
	background-image: url(./img/mw_update_button_normal.png);
	z-index: 3
}

div#updatedTime {
	position:absolute;
	left:30px;
	top:4px;
	font-size: 16px;
	color: rgb(102,98,98);
}


.formBase {
	position:absolute;
	left:12px;
	top:69px;
	width: 238px;
	height: 232px;
	display: none;
	z-index: 4
}

div#loginForm span.label {
	font-size: x-small;
}

.buttonCell {
	position:absolute;
	left:64px;
	top:178px;
	width: 109px;
	height: 32px;
	background-image: url(./img/mw_login_button_disable.png);
}

div#emailLabel {
	position:absolute;
	left:13px;
	top:0px;
	width: 55px;
	height: 12px;
	font-size: 16px;
	color: rgb(102,98,98);
}

.emailField {
	position:absolute;
	left:12px;
	top:20px;
	width: 213px;
	height: 24px;
	font-size: 16px;
	color: rgb(0,0,0);
	margin: 0px;
	padding: 1px;
	border: 2px solid #808080;
}

div#passwdLabel {
	position:absolute;
	left:13px;
	top:46px;
	width: 55px;
	height: 12px;
	font-size: 16px;
	color: rgb(102,98,98);
}

.passwdField {
	position:absolute;
	left:12px;
	top:66px;
	width: 213px;
	height: 24px;
	font-size: 16px;
	color: rgb(0,0,0);
	margin: 0px;
	padding: 1px;
	border: 2px solid #808080;
}

#autologin {
	position:absolute;
	left:12px;
	top:103px;
	width: 21px;
	height: 21px;
	border: 2px solid #808080;
}



div#autologinLabel {
	position:absolute;
	left:39px;
	top:103px;
	width: 200px;
	height: 18px;
	font-size: 16px;
	color: rgb(102,98,98);
}

.normalMessage {
	position:absolute;
	left:12px;
	top:135px;
	width: 220px;
	height: 40px;
	font-size: 12px;
	color: rgb(0,0,0);
}

.errorMessage {
	position:absolute;
	left:12px;
	top:135px;
	width: 220px;
	height: 40px;
	font-size: 12px;
	color: rgb(255,0,0);
}

div#newarriveNotifyButton {
	position:absolute;
	left:12px;
	top:9px;
	width: 180px;
	height: 18px;
}

div#newarriveDiaryButton {
	position:absolute;
	left:12px;
	top:50px;
	width: 180px;
	height: 18px;
}

div#newarriveCommunityButton {
	position:absolute;
	left:12px;
	top:91px;
	width: 180px;
	height: 18px;
}

div#newarriveTracksButton {
	position:absolute;
	left:12px;
	top:132px;
	width: 180px;
	height: 18px;
}

.newarrive_button_left {
	position:absolute;
	left:0px;
	top:0px;
	width: 12px;
	height: 31px;
	background-image: url(./img/mw_button_left_normal.png);
}

.newarrive_button_tsunagi {
	position:absolute;
	left:12px;
	top:0px;
	width: 192px;
	height: 31px;
	background-image: url(./img/mw_button_tsunagi_normal.png);
	background-repeat: repeat-x;
}

.newarrive_button_right {
	position:absolute;
	left:204px;
	top:0px;
	width: 12px;
	height: 31px;
	background-image: url(./img/mw_button_right_normal.png);
}

.newarriveLabel {
	position:absolute;
	left:6px;
	top:6px;
	width: 214px;
	height: 20px;
	font-size: 16px;
	color: rgb(255,59,0);
	text-align: center;
	vertical-align: middle;
	z-index: 5
}

.noarriveLabel {
	position:absolute;
	left:6px;
	top:6px;
	width: 214px;
	height: 20px;
	font-size: 16px;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
	z-index: 5
}

img.preload {
  display: none;
}
