/*
 * Copyright 2008 Sony Electronics Inc.
 */
html, body {
	margin:0;
	padding:0;
}
body {
	background-image:url(images/background.png);
	background-repeat:no-repeat;
}	

/* Center the calendar table with the background image using a container div */
.container {
	padding:9px;
} 

/* Style for Today's Date */
.today {
	font-weight: bold;
	color: #f7a300;text-indent:5px; 
}

.day {
	color:white;
}

 /* Extra positioning for Year / Month title */
.year {
	color:white;
	height:30px;
}