/*
 * Copyright 2007 Sony Corporation
 */

.widget_body{
	padding : 0px 0px 0px 0px;
	overflow : hidden;
}
.pure_layout_table{
	top : 0px;
	left : 0px;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	border-collapse: collapse;
	position : absolute;
	visibility:hidden;
}
.rss_reader_widget_foot_div{
	padding : 0px;
	border-width: 0px;
	margin: 0px;
}
#BORDER_LEFT_TOP{
	background-image : url(images/base_top_left.png);
	background-repeat : no-repeat;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	width : 12px;
	height : 12px;
}
#BORDER_RIGHT_TOP{
	background-image : url(images/base_top_right.png);
	background-repeat : no-repeat;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	width : 12px;
	height : 12px;
}
#BORDER_TOP{
	background-image : url(images/base_top_center.png);
	background-repeat : repeat-x;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	cursor : pointer;
	height : 12px;
}
#BORDER_LEFT{
	background-image : url(images/base_middle_left.png);
	background-repeat : repeat-y;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-style : none none none none;
	width : 12px;
}
#BORDER_RIGHT{
	background-image : url(images/base_middle_right.png);
	background-repeat : repeat-y;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	width : 12px;
}
#BORDER_LEFT_BOTTOM{
	background-image : url(images/base_bottom_left.png);
	background-repeat : no-repeat;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-style : none none none none;
	cursor : pointer;
	width : 12px;
	height : 74px;
}
#BORDER_BOTTOM{
	background-image : url(images/base_bottom_center.png);
	background-repeat : repeat-x;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	height : 74px;
}
#BORDER_RIGHT_BOTTOM{
	background-image : url(images/base_bottom_right.png);
	background-repeat : no-repeat;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	width : 12px;
	height : 74px;
}
#CONTENT{
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;	
}
#TITLE{
	position : relative;
	color : #FFFFFF;
	background-color : #898989;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	font-size : 20px;
	text-align : left;
	padding : 0px 10px 0px 0px;
	margin : 0px 0px 0px 0px;
	height : 46px;
	vertical-align : middle;
}
#FEED_TITLE{
	position : absolute;
	color : #FFFFFF;
	/*background-color : #898989;*/
	background-color:transparent;
	border-width : 0px 0px 0px 0px;
	border-style : none none none none;
	font-size : 20px;
	text-align : left;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	vertical-align : middle;
	left : 5px;
	display:inline-block;
	white-space:nowrap;
	text-overflow:clip;
	overflow:hidden;
  	text-overflow:clip;
}
#LAST_UPDATED_DATE{
	position : absolute;
	background-color : #898989;
	text-align : right;
	margin-right : 0px;
	margin-top : 0px;
	right : 130px; 
	width : 100px;
}
#UPDATE_BUTTON{
	position : absolute;
	background-color : #898989;
	margin-right : 0px;
	margin-top : 0px;
	right : 23px; 
	width : 96px;
}
#LED{
	position : absolute;
	margin-top : -6px;
	margin-right : 0px;
	right : 4px;
	width : 12px;
	border-style : none;;
}
#RSS_READER_WIDGET_FOOT{
	height : 44px;
	width : 100%;
	padding : 0px;
}
#UP_SCROLL_BUTTON{
	border-right-style : solid;
	border-right-width : 1px;
	border-color : #BFBFBF;
	text-align : center;
}
#DOWN_SCROLL_BUTTON{
	text-align : center;
}
#FEED_ICON{
	vertical-align : middle;
}

/*------------ list style set ------------*/
.list{
	background-color: #FFFFFF;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: #BFBFBF;
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

.listitem_highlighted{
	background-color: #FFAA00;
	color: #FFFFFF;
	height: 48px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #BFBFBF;
	white-space: nowrap;
	font-size : 20px;
	cursor : pointer;
	text-align : left;
	text-indent : 10px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
 
.listitem{
	background-color: #FFFFFF;
	color: #666666;
	height: 48px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #BFBFBF;
	white-space: nowrap;
	font-size : 20px;
	cursor : pointer;
	text-indent : 10px;
	text-align : left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}

.entry_title{
	padding: 0px;
	margin-bottom: 1px;
}

.entry_subtitle{
	background-color: transparent;
	color: #969696;
	border-width: 0px 0px 0px 0px;
	border-style: solid;
	border-color: #BFBFBF;
	white-space: nowrap;
	font-size : 20px;
	cursor : pointer;
	text-align : right;
	padding: 0px;
	margin-top: 1px;
}

/*------------ scroll bar style set ------------*/
.scrollbar{
	background-color: #FFFFFF;
	border-width: 0px 0px 0px 0px;
	border-collapse: collapse;
	border-style: solid;
	border-color: #BFBFBF;
	font-size: 0px;
	margin: 0px;
	position:absolute;
	top:58px;
	overflow: hidden;
	width: 7px;
}
.scroll_highlighted{
	background-color: #666666;
	border: 0px;
	border-style: solid;
	border-color: #BFBFBF;
	margin: 0px;
	position: relative;
	top: 1px;
	left: 1px;
	width: 5px;
}
.scrollitem{
	background-color: #666666;
	border: 0px;
	border-style: solid;
	border-color: #BFBFBF;
	margin: 0px;
	position: relative;
	top: 1px;
	left: 1px;
	width: 5px;
}
