/* 
 * Copyright 2007 Sony Corporation
 */

body{
	top:0px;
	left:0px;
	margin: 0px;
	padding: 0px;
}

.bTable1{
	position:absolute;
	top:1;
	left:1;
	height: 432px;
	width: 230px;
	z-index: 1;
}

.centerCelTop1{
	position:absolute;
	top:1;
	left:13;
	width:206px;
	height:34px;
	background-image: url(img/base_top.png);
	background-repeat: repeat-x;
}

.centerCelLeft1{
	position:absolute;
	top:1;
	left:1;
	width:12px;
	height:432px;
	background-image: url(img/base_left.png);
}

.centerCelRight1{
	position:absolute;
	top:1;
	left:219;
	width:12px;
	height:432px;
	background-image: url(img/base_right.png);
}

.centerCelBottom1{
	position:absolute;
	top:375;
	left:13;
	width:206px;
	height:58px;
	background-image: url(img/base_bottom.png);
	background-repeat: repeat-x;
}

.centerCelSeparatorA1{
	display: none;
	position:absolute;
	top:35;
	left:219;
	width:6px;
	height:340px;
	background-color : rgb(255,41,0);

}

.centerCelSeparatorB1{
	display: none;
	position:absolute;
	top:35;
	left:431;
	width:6px;
	height:340px;
	background-color : rgb(255,41,0);
}

.bTable2{
	position:absolute;
	top:1;
	left:1;
	height: 432px;
	width: 442px;
	z-index: 1;
}
.centerCelTop2{
	position:absolute;
	top:1;
	left:13;
	width:418px;
	height:34px;
	background-image: url(img/base_top.png);
	background-repeat: repeat-x;
}

.centerCelLeft2{
	position:absolute;
	top:1;
	left:1;
	width:12px;
	height:432px;
	background-image: url(img/base_left.png);
}

.centerCelRight2{
	position:absolute;
	top:1;
	left:431;
	width:12px;
	height:432px;
	background-image: url(img/base_right.png);
}

.centerCelBottom2{
	position:absolute;
	top:375;
	left:13;
	width:418px;
	height:58px;
	background-image: url(img/base_bottom.png);
	background-repeat: repeat-x;
}

.centerCelSeparatorA2{
	position:absolute;
	top:35;
	left:219;
	width:6px;
	height:340px;
	background-color : rgb(255,41,0);

}

.centerCelSeparatorB2{
	display: none;
	position:absolute;
	top:35;
	left:431;
	width:6px;
	height:340px;
	background-color : rgb(255,41,0);
}

.bTable3{
	position:absolute;
	top:1;
	left:1;
	height: 432px;
	width: 654px;
	z-index: 1;
}

.centerCelTop3{
	position:absolute;
	top:1;
	left:13;
	width:630px;
	height:34px;
	background-image: url(img/base_top.png);
	background-repeat: repeat-x;
}

.centerCelLeft3{
	position:absolute;
	top:1;
	left:1;
	width:12px;
	height:432px;
	background-image: url(img/base_left.png);
}

.centerCelRight3{
	position:absolute;
	top:1;
	left:643;
	width:12px;
	height:432px;
	background-image: url(img/base_right.png);
}

.centerCelBottom3{
	position:absolute;
	top:375;
	left:13;
	width:630px;
	height:58px;
	background-image: url(img/base_bottom.png);
	background-repeat: repeat-x;
}

.centerCelSeparatorA3{
	position:absolute;
	top:35;
	left:219;
	width:6px;
	height:340px;
	background-color : rgb(255,41,0);

}

.centerCelSeparatorB3{
	position:absolute;
	top:35;
	left:431;
	width:6px;
	height:340px;
	background-color : rgb(255,41,0);
}

.cssGridCellStyle1{ 
  cursor : pointer;
}
.cssGridCellHighlight{
  background-color : #ffffff;
}

#Page_1{
	z-index: 2;
	height: 337px;
	width: 201px;
	left: 17px;
	top: 39px;
	position: absolute;
}
#Page_2{
	z-index: 2;
	height: 337px;
	width: 201px;
	left: 229px;
	top: 39px;
	position: absolute;
}
#Page_3{
	z-index: 2;
	height: 337px;
	width: 201px;
	left: 441px;
	top: 39px;
	position: absolute;
}

#ceparate1{
	z-index: 3;
	height: 340px;
	width: 6px;
	left: 219px;
	top: 35px;
	position: absolute;
	background-color: #FF2900;
}
#ceparate2{
	z-index: 3;
	height: 340px;
	width: 6px;
	left: 431px;
	top: 35px;
	position: absolute;
	background-color: #FF2900;
}

.imgCell{
	height: 67px;
	width: 67px;
	left: 0px;
	top: 0px;
	position: absolute;
}

.imgLink{
	border: 1px solid #666666;
	margin: 1px;
	padding: 0px;
}

.hoverimgLink{
	border: 2px solid #F01E00;
}

.noLink{
	border: 1px solid #666666;
	margin: 1px;
	padding: 0px;
	}
	
#myContacts{
	position: absolute;
	z-index: 3;
	left: 13px;
	top: 7px;
}	
.myContactsFont{
	color: #FFFFFF;
	font-size: 18pt;
}

.setup1{
	left: 197px;
	top: 7px;
	position: absolute;
	z-index: 3;
}

.setup2{
	left: 409px;
	top: 7px;
	position: absolute;
	z-index: 3;
}

.setup3{
	left: 621px;
	top: 7px;
	position: absolute;
	z-index: 3;
}

#btLeft{
	position: absolute;
	left: 13px;
	top: 381px;
	z-index: 3;
}

.btRight1{
	position: absolute;
	left: 179px;
	top: 381px;
	z-index: 3;
}
.btRight2{
	position: absolute;
	left: 391px;
	top: 381px;
	z-index: 3;
}

.btRight3{
	position: absolute;
	left: 603px;
	top: 381px;
	z-index: 3;
}

.PageDisplay1{
	height: 40px;
	width: 126px;
	position: absolute;
	left: 53px;
	top: 381px;
	text-align: center;
	vertical-align: middle;
	z-index: 3;
}

.PageDisplay2{
	height: 40px;
	width: 338px;
	position: absolute;
	left: 53px;
	top: 381px;
	text-align: center;
	vertical-align: middle;
	z-index: 3;
}

.PageDisplay3{
	height: 40px;
	width: 550px;
	position: absolute;
	left: 53px;
	top: 381px;
	text-align: center;
	vertical-align: middle;
	z-index: 3;
}

.pageTxtB{
	font-size: 20pt;
	color: #501400;
}
.pageTxtW{
	font-size: 20pt;
	color: #FFFFFF;
}


.friendWaku1{
	position: absolute;
	z-index: 4;
	height: 400px;
	width: 212px;
	left: 10px;
	top: 24px;
}

.friendWaku2{
	position: absolute;
	z-index: 4;
	height: 400px;
	width: 212px;
	left: 222px;
	top: 24px;
}

.friendWaku3{
	position: absolute;
	z-index: 4;
	height: 400px;
	width: 212px;
	left: 434px;
	top: 24px;
}

.friendViewBase5{
	position: relative;
	left: 0px;
	top: 0px;
	height: 348px;
}
.friendViewBase4{
	position: relative;
	left: 0px;
	top: 34px;
	height: 272px;
}
.friendViewBase3{
	position: relative;
	left: 0px;
	top: 68px;
	height: 204px;
}
.friendViewBase2{
	position: relative;
	left: 0px;
	top: 102px;
	height: 136px;
}
.friendViewBase1{
	position: relative;
	left: 0px;
	top: 136px;
	height: 68px;
}
.friendItemView{
	position: relative;
	top: 0px;
	left: 0px;
	height: 68px;
	width: 180px;
}

.friendBack{
	background-image: url(img/friend_back.png);
	background-repeat: repeat-y;
}
#friendFont {
	position: relative;
	height: 28px;
	width:	180px;
	overflow: hidden;
}
.friendFont {
	position: relative;
	font-size: 18pt;
	color: #FFFFFF;
	left: 16px;
	overflow: hidden;
}

.friendNormal{
	background-color: #FFFFFF;
	position: relative;
	width: 180px;
	height: 60px;
}
.friendSelected{
	background-color: #FFAA00;
	position: relative;
	width: 180px;
	height: 60px;
}
.friendSeparator{
	background-image: url(img/friend_back.png);
	position: relative;
	width: 180px;
	height: 8px;
}

.friendIcon{
	position: relative;
	left: 8px;
	top: 14px;
	width: 32px;
	height: 32px;
}

.friendNormalTxt{
	font-size: 20pt;
	color: #323232;
	position: relative;
	left: 45px;
	top: -22px;
	width: 134px;
	height: 32px;
	vertical-align: middle;
	overflow: hidden;
}
.friendSelectedTxt{
	font-size: 20pt;
	color: #FFFFFF;
	position: relative;
	left: 45px;
	top: -18px;
	width: 134px;
	height: 32px;
	vertical-align: middle;
	overflow: hidden;
}
