/*
 * Copyright 2008 Sony Electronics Inc.
 */

html, body {
	margin:0px;
	padding:0px;
}

#calcdisplay {
	background-image:url(images/display.png);
	background-repeat:none;
	width:386px;
	height:79px;
}

img.preload {
	display: none;
}

#sumDisplay {
	position:absolute;
	left: 76px;
	top: 38px;
	font-size:28px;
	text-align:right;
	width: 274px;
}

#funcDisplay {
	position:absolute;
	left: 33px;
	top: 38px;
	font-size:28px;
}

#calckeypad {
	background-image: url(images/keypad.png);
	background-repeat: none;
	width:386px;
	height:271px;
}

#button_7 {
	background-image:url(images/7.png);
	background-repeat:none;
	position: absolute;
	top: 92px;
	left: 34px;
}

#button_8 {
	background-image:url(images/8.png);
	background-repeat:none;
	position: absolute;
	top: 92px;
	left: 101px;
}

#button_9 {
	background-image:url(images/9.png);
	background-repeat:none;
	position: absolute;
	top: 92px;
	left: 166px;
}

#button_4 {
	background-image:url(images/4.png);
	background-repeat:none;
	position: absolute;
	top: 147px;
	left: 34px;
}

#button_5 {
	background-image:url(images/5.png);
	background-repeat:none;
	position: absolute;
	top: 147px;
	left: 101px;
}

#button_6 {
	background-image:url(images/6.png);
	background-repeat:none;
	position: absolute;
	top: 147px;
	left: 166px;
}

#button_1 {
	background-image:url(images/1.png);
	background-repeat:none;
	position: absolute;
	top: 204px;
	left: 34px;
}

#button_2 {
	background-image:url(images/2.png);
	background-repeat:none;
	position: absolute;
	top: 204px;
	left: 101px;
}

#button_3 {
	background-image:url(images/3.png);
	background-repeat:none;
	position: absolute;
	top: 204px;
	left: 166px;
}

#button_0 {
	background-image:url(images/0.png);
	background-repeat:none;
	position: absolute;
	top: 258px;
	left: 34px;
}

#button_deci {
	background-image:url(images/deci.png);
	background-repeat:none;
	position: absolute;
	top: 258px;
	left: 166px;
}

#button_clear {
	background-image:url(images/clear.png);
	background-repeat:none;
	position: absolute;
	top: 92px;
	left: 238px;
}

#button_sub {
	background-image:url(images/sub.png);
	background-repeat:none;
	position: absolute;
	top: 147px;
	left: 238px;
}

#button_div {
	background-image:url(images/div.png);
	background-repeat:none;
	position: absolute;
	top: 147px;
	left: 304px;
}

#button_add {
	background-image:url(images/add.png);
	background-repeat:none;
	position: absolute;
	top: 204px;
	left: 238px;
}

#button_mult {
	background-image:url(images/mult.png);
	background-repeat:none;
	position: absolute;
	top: 204px;
	left: 304px;
}

#button_enter {
	background-image:url(images/enter.png);
	background-repeat:none;
	position: absolute;
	top: 258px;
	left: 238px;
}